<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Beater</title>
</head>
<body>
    <section class = "header">
        Word Beater
    </section>

    <section class = "main">

        <div class = chooseLevel>
            <label for="level">Please choose the game level:</label>
            <select name="level" id="level">
               <option value="">--choose the game level--</option>
               <option value="easy">easy</option>
               <option value="medium">medium</option>
               <option value="hard">hard</option>
            </select>

        </div>
        <div class = "title">
            <p>Type the given word within <span class = "second">5</span> seconds:</p>
        </div>

        <div class = "word">
            
        </div>
        <div id = "input" >
              <input type="text" placeholder="Type to start..." id = "wordInput" autofocus>
        </div>
        <div>
            <p class = "result"></p>
        </div>
        <div class = "game-display">
           <div class = "display">
               <p>Time Left: <span class = "time">0</span></p>
               <p>Score: <span class = "score">0</span></p>
           </div>
           <div class ="top-score">
             <p>Top Score: <span id="topScore"></span></p>
           </div>
     
        </div>

        <div class = "clear">
            Clear the game records:<button id="clearBtn">CLEAR</button>
        </div>

        <div class ="instruction">
            <h3>Instructions</h3>
            <p>Type each word in the given amount of seconds to score. To play again, just type the current word. Your score
                  will reset.</p>
    
        </div>


    </section>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/service-worker.js');
            });
        }
       </script>
</body>
</html>